body {

}

#banner {
    widht:100%
}

.principal{
    background: #cccccc
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: red;
}
.itens {
    font-style: italic
}

.beneficios {
    background: #ffffff;
}

h2 {
    texy-align: center;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}